
@using Blazored.Toast.Configuration
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase
@using EIMRentaaCar.BLL
@using EIMRentaaCar.Models


<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4" style="background: #232121">
                <b class="text-white">Bienvenido, @context.User.Identity.Name!</b>
                <a class="ml-md-0 btn text-white fa fa-bell-o" data-toggle="modal" data-target="#myModal">
                    @if (Contador() > 0)
                    {
                        <span class="badge">@Contador()</span>
                        //muestra la cantidad de notificacion respectivamente a cada usuario
                    }

                </a>
                <a class="ml-auto btn btn-danger oi oi-account-logout" href="/logout?returnUrl=/" target="_top"> Logout</a>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>

        @*//Modal para las notificaciones*@
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content m-md-auto">
                    <div class="modal-header">
                        <h4 class="modal-title">Notificaciones</h4>
                    </div>
                    <div class="modal-body">
                        <EIMRentaaCar.Pages.Notificaciones.N_Notificacion />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="oi oi-circle-x"></i> Close</button>

                    </div>
                </div>
            </div>
        </div>

    </Authorized>

    <NotAuthorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4" style="background: #232121" />
            <div class="content px-4">
                @Body
            </div>
        </div>
    </NotAuthorized>

</AuthorizeView>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="4"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" />



@code{

    Notificaciones notificaciones = new Notificaciones();

    public List<Notificaciones> lista { get; set; }
    private int Contador() // aqui devuelvo la cantidad de notificaciones de los usuarios
    {
        lista = NotificacionBLL.GetList(n => true);

        try
        {

            lista = lista.Where(e => e.UsuarioId == getUser() && e.visto == false).ToList();

        }
        catch (Exception)
        {
            throw;
        }

        return lista.Count();
    }

    private int getUser()
    {
        Usuarios usuario = UsuarioBLL.Buscar(AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name);

        if (usuario != null)
        {
            return usuario.UsuarioId;
        }
        return 0;
    }
}