@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4" style="background-color: #514848">
                    <b class="text-white">Bienvenido, @context.User.Identity.Name!</b>
                    <a class="ml-md-auto btn btn-danger" href="/logout?returnUrl=/" target="_top" style="color: #000000"><i class="oi oi-account-logout"></i> Logout</a>
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>

        </Authorized>

        <NotAuthorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4" style="background-color: #514848">                                    
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </NotAuthorized>

    </AuthorizeView>


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning"
                ShowProgressBar="@true" />