@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using BLL
@using Models
@using System.Web;
@inject AuthenticationStateProvider AuthenticationStateProvider

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="content px-4">
                    @Body
                </div>
            </div>

        </Authorized>

        <NotAuthorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <div class="main">
                <div class="top-row px-4" style="background-color: #d2d5d7">
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </NotAuthorized>

    </AuthorizeView>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="4"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning"
               />
