@page "/Login"

@using EIMRentaaCar.BLL
@using EIMRentaaCar.Models

@inject IToastService toast


<EditForm Model="usuarios" OnValidSubmit="Ingresar">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Registro de Usuario</h3>
        </div>

        <div class="card-body">
            <form>
                
                @*Nombre de usuario*@
                <div class="form-group">
                    <label>Nombre de usuario:</label>
                    <InputText @bind-Value="usuarios.NombreUsuario" class="form-control" />
                    <ValidationMessage For="@(() => usuarios.NombreUsuario)" />
                </div>

               
                @*Clave*@
                <div class="form-group">
                    <label>Clave</label>
                    <InputText type="password" class="form-control" @bind-Value="usuarios.Clave"></InputText>
                    <ValidationMessage For="@(() => usuarios.Clave)" />
                </div>

            </form>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"><i class="fa fa-plus"></i> Nuevo </button>
                <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i> Guardar </button>              
            </div>
        </div>
    </div>
</EditForm>



@code {

    Usuarios usuarios = new Usuarios();    

    protected override void OnInitialized()
    {
        Nuevo();     
    }

    private void Nuevo()
    {
        this.usuarios = new Usuarios();
    }

    private void Ingresar()
    {

        
        UsuarioBLL.GetList(u=> u.NombreUsuario == usuarios.NombreUsuario);
        
    }
}